body {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
background-image: url(https://webgradients.com/public/webgradients_png/002%20Night%20Fade.png);
 }

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0px;
  }

  .inputSection {
    margin: 50px 0px 80px 40px;
    width: 400px;
    }

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
  }

  input {
    margin-top: 10px;
    }

.addOption {
  margin-top: 10px;
  }

  title{
    color: white;
  }
